html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sst;
}

body {
    padding: 0 100px;
    background-color: #aebfd4;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #182580;
    align-items: center;
    border-bottom: 5px inset gray;
    border-left: 5px inset gray;
    border-right: 5px inset gray;
}

h1 {
    color: 2e393d;
    background-color: #5cc9fd;
    padding: 3px 10px 3px 50px;
}

header img {
    height: 100px;
    border: none;
}

nav {
    align-self: flex-end;
    position: relative;
    bottom: 10px;
    right: 10px;
}

nav a {
    padding-bottom: 2px;
    margin-left: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #006fcd;
    font-size: 20px;
}