/* CSS reset styling */
html, * {
    padding: 0;   /* code from Anthony Cooper for css reset */
    margin: 0;
    box-sizing: border-box;
    font-family: sst;
}

body {
    padding: 0 50px;
    background-color: #aebfd4;
}

/* Header section styling for heading, avatar, and navigation */
header {
    display: flex;
    justify-content: space-between;
    background-color: #182580;
    align-items: center;
    border-bottom: 5px inset gray;
    border-left: 5px inset gray;
    border-right: 5px inset gray;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

h1 {
    color: 2e393d;
    background-color: #5cc9fd;
    padding: 3px 10px 3px 50px;
    font-size: 40px;
}

header img {
    height: 100px;
    border: none;
}

nav {
    align-self: flex-end;
    position: relative;
    bottom: 10px;
    right: 10px;
}

nav a {
    color: white;
    text-decoration: none;          /* googled idea to get underline effect on nav links */
    border-bottom: 3px solid #006fcd;             
    font-size: 20px;
    padding-bottom: 2px;
    margin-left: 10px;
}

nav a:hover {
    background-color: white;
    color: #182580;
}

hr {
    border-width: 2px;
    margin-bottom: 20px;
    border-color: #2e393d;
}

/* About Me section styling */

#about-me {
    margin-bottom: 50px;
}

#about-me h2, #projects h2, footer h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

#about-me p {
    line-height: 1.5;
    font-size: 20px;
}

/* Project layout styling */

#projects {
    margin-bottom: 50px;
}

.project-layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* css-mini-project (feature project) styled to have it's own line */

.css-mini-project {
    width: 100%;
    margin-bottom: 2%;
}

.css-mini-project-img-wrapper {
    width: 80%;
    display: block;
    height: 500px;
    position: relative;
    border: 5px solid #182580;
    margin: 0 auto;
}

/* styling for project images and hover states */

#projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projects a {
    color: black;
}

#projects img:hover {
    opacity: 0.5;
}

/* styling for all title tags */

.title-tag {
    position: absolute;
    top: 0;
    color: 2e393d;
    background-color: #5cc9fd;
    padding: 5px;
}

.title-tag:hover {
    color: white;
}

/* styling to list the two other projects side-by-side */

.horiseon-project, .prework-study-guide {
    width: 39%;
    height: 300px;
    border: 5px solid #182580;
    position: relative;
}

.horiseon-project {
    margin-right: 2%;
}

/* styling for footer link */

footer img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

footer {
    margin-bottom: 16px;
}

/* Media queries for responsive design */

@media screen and (max-width: 1000px) {
    .project-layout {
        flex-direction: column;
    }

    .horiseon-project, .prework-study-guide {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2%;
    }

    .css-mini-project-img-wrapper {
        height: 600px;
        
    }
  }

  @media screen and (max-width: 920px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        margin-bottom: 10px;
        text-align: center;
    }
  }